
.idea

galleryTddProject/gallery/__pycache__
galleryTddProject/galleryTddProject/settings.py
galleryTddProject/galleryTddProject/settings.py
galleryTddProject/gallery/migrations/__pycache__
galleryTddProject/galleryTddProject/__pycache__
galleryTddProject/venv
